/*
Is the T running CSS
*/

* {
    position: relative;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html, body {
    width: 100vw;
}

html {
    height: 100%;
}


/* Fonts */
h1, h2, h3 {
    font-family: serif;
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 15vmin;
}

h1 {
    padding-top: 5vh;
}

h1 span {
    font-size: 7vmin;
}

.placeholder {
    position: relative;
    top: 16.6vh;
}

.placeholder h2 {
    font-size: 10vmin;
}

.answer {
    position: relative;
    top: 16.6vh;
}

.answer h2 {
    font-size: 30vmin;
}

.delayed-services .red {
    color: 'red';
}

.delayed-services .green {
    color: 'green';
}

.delayed-services .orange {
    color: 'orange';
}

.delayed-services .blue {
    color: 'blue';
}

p {
    font-family: serif;
    color: #000000;
}

/* Layout */
.one-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.page-title {
    top: 2.1vh;
    left: 2.1vw;
}

.section-title {
    position: relative;
    top: 4.2vh;
    left: 2.1vw;
    font-size: 5vmin;
}

.section-text {
    position: relative;
    top: 8.3vh;
    left: 4.1vw;
    font-size: 3vmin;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0vh;
    left: 1vw;
    height: 5vmin;
    width: 100vw;
    font-size: 3vmin;
}

footer a {
    color: #000000;
}

footer a:hover {
    text-decoration: none;
}
